# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [4]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [107]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

## Deliverable 1: Get a Summary DataFrame

In [108]:
#  1. Get the total rides for each city type
total_rides_by_type = pyber_data_df.groupby(['type']).count()['ride_id']

In [109]:
# 2. Get the total drivers for each city type
total_drivers_by_type = city_data_df.groupby(['type']).sum()['driver_count']
total_drivers_by_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [110]:
total_drivers_by_type_new = pyber_data_df.groupby(['type']).sum()['driver_count']
total_drivers_by_type_new

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [169]:
#  3. Get the total amount of fares for each city type
total_fares_by_type = pyber_data_df.groupby(['type']).sum()['fare']

In [184]:
#  4. Get the average fare per ride for each city type. 
average_fares_by_type = pyber_data_df.groupby(['type']).mean()['fare']
average_fares_by_type

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [185]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = total_fares_by_type / total_drivers_by_type

average_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [186]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame(
{'Total Rides':total_rides_by_type,
  'Total Drivers': total_drivers_by_type,
  'Total Fares':total_fares_by_type,
  'Average Fare per Ride' : average_fares_by_type,
  'Average Fare per Driver' : average_fare_per_driver
 })

In [187]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [188]:
#  8. Format the columns.
pyber_summary_df['Total Fares'] = pyber_summary_df['Total Fares'].map('${:,.2f}'.format)
pyber_summary_df['Average Fare per Ride'] = pyber_summary_df['Average Fare per Ride'].map('${:.2f}'.format)
pyber_summary_df['Average Fare per Driver'] = pyber_summary_df['Average Fare per Driver'].map('${:.2f}'.format)

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [189]:
# 1. Read the merged DataFrame
pyber_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

In [190]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')